h1 {
  background-color: red;
color: #FFFFFF;
  }


P {
  border: thin solid black;
}

.big { font-size: large; }
.small{ font-size: x-small; }
.conborde{ border: thin solid black; }
.sinborde{  }

.bgazul { background-color: blue;}
